<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css')}}">
	
	<!--<link href="css/spectrogram.css" media="screen" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="js/d3.v5.min.js"></script>
	<script type="text/javascript" src="js/spectrogram.js"></script>
	<div id="main" class="spectrogram"></div>-->
	

	<script>
		/* HTTP/Web Server Communications
		 * Function not currently called anywhere. 
		*/
		function serverComms(filename) {             
			if (window.XMLHttpRequest) {                                    // Check if XMLHttpRequest object can be created
				xmlhttp = new XMLHttpRequest();                               // Note that this request can retrieve data types other than XML 
			}
			else {
				xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");             // Support for older browsers
			}
			
			xmlhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var address = this.responseText
					
					return address;
				}
			}
			
			xmlhttp.open("GET", filename, async);
			xmlhttp.timeout = timeout;
			xmlhttp.send();
		}
	
		// Opens the settings sidebar when button is clicked
		function openSide() {
			document.getElementById("sideBar").style.width = "250px";
			document.getElementById("main").style.marginLeft = "250px";
			document.getElementById("openButton").style.visibility = "hidden";
		}
		
		// Closes sidebar when x button is clicked
		function closeSide() {
			document.getElementById("sideBar").style.width = "0";
			document.getElementById("main").style.marginLeft = "0";
			document.getElementById("openButton").style.visibility = "visible";
		}
	
	
		/*
		* Generates 2 dynamic line charts with random values
		*/
		window.onload = function () {

		var dps = []; // dataPoints
		var chart = new CanvasJS.Chart("chartContainer", {
			title :{
				text: "Randomly Generated Test Data"
			},
			data: [{
				type: "line",
				dataPoints: dps
			}]
		});
		
		var chart2 = new CanvasJS.Chart("chartContainer2", {
			title :{
				text: "The Same Random Data"
			},
			data: [{
				type: "line",
				dataPoints: dps
			}]
		});

		var xVal = 0;
		var yVal = 100; 
		var updateInterval = 1000;
		var dataLength = 20; // number of data points displayed at one time

		/*
		var sample = new Spectrogram([10, 20, 30, 40], "#vis", {
    	width: 600,
    	height: 300,
    	colorScheme: ['#440154', '#472877', '#3e4a89', '#31688d', '#26838e', '#1f9e89', '#36b778', '#6dcd59', '#b4dd2c', '#fde725']
    	});
		*/

		var updateChart = function (count) {

			count = count || 1;
			
			//this is probably going to be where we select new .txt file and update dps 

			for (var j = 0; j < count; j++) {
				yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
				dps.push({
					x: xVal,
					y: yVal
				});
				xVal++;
			}

			if (dps.length > dataLength) {
				dps.shift();
			}

			chart.render();
			chart2.render();
		};

		updateChart(dataLength);
		setInterval(function(){updateChart()}, updateInterval);

		}
		
		
		/*
		* Generates a 2-Dimensional spectrogram
		*/
		
	</script>
</head>
<body>
	<div class="container-fluid" id="headerbar" style="background: maroon;">
		<div class="logo">VT BIST Lab</div>
	</div>

	<div id="sideBar">
		<span id="closeButton" onclick="closeSide()">&times;</span>
		
		<!-- Start/Stop data acquisition -->
		<p class="settinglabels">Start/Stop Data Acquisition</p>
		<div class="stbuttons" class="varfields">
			<a href="\Data"><button type="button" class="btn-primary">Start</button></a>
			<button type="button" class="btn-primary">Stop</button>
		</div>
		
		<!-- Start/Stop pinna deformations -->
		<p class="settinglabels">Start/Stop Pinna Deformations</p>
		<div class="stbuttons" class="varfields">
			<a href="\Deform"><button type="button" class="btn-primary">Start</button></a>
			<button type="button" class="btn-primary">Stop</button>
		</div>
		
		<!-- Slider to adjust plot overlap -->
		<!-- I'm not actually sure if we need plot overlap or what it's for--it was just in the original gui -->
		<p class="settinglabels">Plot Overlap</p>
		<div class="varfields">
			<input type="range" class="slider" id="percentOverlap" min="0" max="100" value = "0" 
			oninput="amount.value=percentOverlap.value">
			<div style="text-align: center;">
				<p><output id="amount" name="amount" for="percentOverlap">0</output>%</p>
			</div>
		</div>
		
	</div>

	<div id="main">
		<span id="openButton" onclick="openSide()">&#9776;</span>
	
		<div class="float-child" id="chartContainer"></div>
		
		<div class="float-child" id="chartContainer2"></div>
		
		<div class="buttonBlock" style="display: inline;">
			<button type="button" class="btn-primary" id="spectrogram">Spectrogram</button>
			
			<button type="button" class="btn-primary" id="spectrum">Spectrum</button>
			
			<button type="button" class="btn-primary" id="oscillogram">Time Domain</buttton>
		</div>
	</div>
	
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


