<!DOCTYPE HTML>
<html lang="en">
<head>
	<script>
		window.onload = function () {

		var dps = []; // dataPoints
		var chart = new CanvasJS.Chart("chartContainer", {
			title :{
				text: "Randomly Generated Test Data"
			},
			data: [{
				type: "line",
				dataPoints: dps
			}]
		});

		var xVal = 0;
		var yVal = 100; 
		var updateInterval = 1000;
		var dataLength = 20; // number of data points displayed at one time

		var updateChart = function (count) {

			count = count || 1;

			for (var j = 0; j < count; j++) {
				yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
				dps.push({
					x: xVal,
					y: yVal
				});
				xVal++;
			}

			if (dps.length > dataLength) {
				dps.shift();
			}

			chart.render();
		};

		updateChart(dataLength);
		setInterval(function(){updateChart()}, updateInterval);

		}
	</script>
</head>
<body>
	<div id="chartContainer" style="height: 370px; width:30%; margin: 50px"></div>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	
	<span style="display: inline;">
		<button type="button" id="spectrogram" style="margin-left: 50px; margin-right: 50px;">
		<label for="spectrogram">Spectrogram</label>
		
		<button type="button" id="spectrum" style="margin-right: 50px;">
		<label for="spectrum">Spectrum</label>
		
		<button type="button" id="oscillogram" style="margin-right: 50px;">
		<label for="oscillogram">Oscillogram</label>
	</span>
</body>
</html>


