<!-- Stylesheet for batbot web GUI EBECF0-->
#headerbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	width: 100%;
	display: flex;
}

#headerbar .logo {
	width: 250px;
	font-size: 25px;
	font-weight: 700;
	padding: 0 25px;
	color: white;
}

#main {
	transition: margin-left .5s;
	padding: 16px; 
}

#openButton {
	font-size: 30px;
	cursor: pointer;
}

#chartContainer {
	height: 400px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

#sideBar {
	height: 100%;
	width: 0;
	position: fixed;
	background-color: #EBECF0;
	z-index: 1;
	top: 60;
	left: 0;
	border-right: 1px solid gray;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

#sideBar #closeButton {
	position: absolute;
	font-size: 30px;
	cursor: pointer;
	top: 10px;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.varfields {
	width: 100%;
	margin-bottom: 10px;
}

.slider {
	-webkit-appearance: none;
	margin-left: 10%;
	width: 80%;
	height: 10px;
	border-radius: 5px;
	background: #D3D3D3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none; 
	appearance: none;
	width: 15px; 
	height: 15px; 
	border-radius: 50%;
	background: #000000; 
	cursor: pointer; 
}

.buttonBlock {
	margin-left: 40%;
}

.btn-primary {
	margin-right: 20px;
	background-color: maroon !important;
	border-color: #840000 !important;
}

.stbuttons {
	margin-left: 15%;
}

.varfields #btn-primary {
	margin-right: 30px;
}

.settinglabels {
	margin-left: 10px;
	margin-bottom: 5px;
}